

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap');

//colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$cyan: hsl(167, 40%, 24%);
$blue:hsl(198, 62%, 26%);
$mCyan: hsl(168, 34%, 41%);

//neutral
$desBlue: hsl(212, 27%, 19%);
$vDgrayBlue: hsl(213, 9%, 39%);
$dGrayBlue:hsl(232, 10%, 55%);
$greyBlue: hsl(210, 4%, 67%);

//font 
$barlow:'Barlow', sans-serif;
$fraunce:'Fraunces', serif;

